<h2>Welcome back <%=@user.first%>!</h2>
<br>
<p>Current tickets</p>
<ul>
  <% if @user.tickets.length == 0%>
    <li>No current tickets</li>  
    <%else%>
    <%@user.tickets.each do |x|%>
      <li><%=x.short_description%> <a href="/tickets/<%=x.id%>">View</a></li>
    <%end%>
  <% end%>
</ul>

<form post="POST"action="/tickets/new">
  <input type="submit" value="Create Ticket">
</form>
<%# TODO: Make button to create new tickets%>
<%# TODO: Create interface that tracks user's tickets %>
<%# TODO: Create agent interface that shows list of tickets %>
