<h1>This is the show page for an individual instance of your model.</h1>
<%# TODO: Make button to create new tickets%>
<%# TODO: Create interface that tracks user's tickets %>
<%# TODO: Create agent interface that shows list of tickets %>
