<h2>Welcome back <%=@user.first%>!</h2>
<br>
<p>Current tickets</p>
<ul>
  <%@user.tickets.each do |x|%>
    <li><%=x.description%></li>
  <%end%>
</ul>
<%# TODO: Make button to create new tickets%>
<%# TODO: Create interface that tracks user's tickets %>
<%# TODO: Create agent interface that shows list of tickets %>
