<h2>Create agent</h2>   
<form action="/agents" method="POST">
    <input type="text" name="agent[agentname]" placeholder="Agent Name">
    <br>
    <input type="text" name="agen[tier_support]" placeholder="Tier Support">
    <br>
    <input type="text" name="agent[password_digest]" placeholder="Password">
    <br>
    <input type="text" name="password_confirmation" placeholder="password_confirmation">
    <br>
    <input type="submit" name="Submit">
</form>