<h2><%=@ticket.short_description%></h2>
<br>
<form method="POST" action="/tickets/<%=@ticket.id%>">
<input type="hidden" name="_method" value="patch">
<textarea name="ticket[content]"cols="30" rows="10" ><%=@ticket.content%></textarea>
<br>
<input type="submit" value="patch" name="patch">
</form>