<h2><%=@ticket.short_description%></h2>
<br>
<p>
    <%= @ticket.content%>
</p>
<br>
<%if @ticket.user_id == session[:user_id]%>
    <a href="/tickets/<%=@ticket.id%>/edit">Edit</a>
<% end %>
<a href="/comments/new"></a>
