<h1>Welcome Back!</h1>
<br>
<h3>Login Here</h3>
<form action="/sessions/login" method="post">
  <p><input type="text" name="email" placeholder="Email"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <input type="submit"  value="Login">
</form>
