<h2>Welcome to Helpdesk Pro</h2>
<h3>Service center for all of your IT needs.</h3>
<br>
<div class="content">
  <p>Some kind of image placed here</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas pharetra convallis posuere morbi leo. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Euismod quis viverra nibh cras pulvinar. Nisi quis eleifend quam adipiscing vitae proin. Adipiscing enim eu turpis egestas. Dignissim convallis aenean et tortor at risus viverra adipiscing. Placerat duis ultricies lacus sed. Elit at imperdiet dui accumsan sit. Habitasse platea dictumst vestibulum rhoncus est pellentesque. Et tortor at risus viverra. Consequat ac felis donec et odio pellentesque. Ullamcorper malesuada proin libero nunc consequat interdum varius.
  </p>
<p><a href="/sessions/signup">Sign Up</a> or <a href="/sessions/login">Login</a></p>
</div>
