<h2>Welcome to Helpdesk Pro</h2>
<h3>Service center for all of your IT needs.</h3>
<br>
<div class="content">
<p>Some kind of image placed here</p>
</div>
<div class="sidebar">
<h3>Create an Account</h3>
<form action="/" method="Post">
<ul>
    <li><input type="text" placeholder="Full Name" name="name"></li>
    <br> 
    <li><input type="text" placeholder="Email" name="email"></li>
    <br>
    <li><input type="tel" placeholder="Phone Number" name="phone_number"></li>
    <br>
    <li><input type="text" placeholder="Company Name" name="company"> </li>
</ul>
<br>
<input type="submit" value="Create Account">
</form>
</div>